body{background-color: #90e9f3;
    width: 100%;
    height: 100;


}
.contenedor{
     width: 40%;
     height: 80%;
     margin-top: 10%;
     background-color: #843030;
     margin-left: 30%;
     text-align: center;

}